
html, body { height: 100%; }
body { margin: 0; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, "Helvetica Neue", sans-serif; }
:root{
    --color-primary: #EDF6F9;
    --color-turkize: #006D77;
    --color-green:#83C5BE;
    --color-brown:#E29578;
    --color-pink:#FFDDD2;
    --font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
